# Arquivos de cobertura (Gcov e HTML gerados pelo gcovr)
*.gcda
*.gcno
*.gcov
*.o
coverage*
coverage/

# Arquivos executáveis gerados pelo Makefile
TesteUsuario
TesteTerminalUI
TesteGerenciadorUsuarios
TesteItemVendido
TestePedido
TesteCarrinho
TesteAnuncio
ecommerce.exe